semantic-model-refresh/fabric/template/Refresh Semantic Model/Refresh Semantic Model.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"Power BI James.Broome":{"type":"string"},"PowerBIDatasets James.Broome":{"type":"string"}},"variables":{},"resources":[{"name":"Refresh Semantic Model","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Until No Refresh Running","type":"Until","dependsOn":[{"activity":"Set Refresh Status to Unknown","dependencyConditions":["Succeeded"]}],"typeProperties":{"expression":{"value":"@not(equals('Unknown', variables('Refresh Status')))","type":"Expression"},"activities":[{"name":"Wait 10 Seconds","type":"Wait","dependsOn":[{"activity":"Set Refresh Status","dependencyConditions":["Succeeded"]}],"typeProperties":{"waitTimeInSeconds":1}},{"name":"Set Refresh Status","type":"SetVariable","dependsOn":[{"activity":"Check Refresh Status","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"Refresh Status","value":{"value":"@activity('Check Refresh Status').output.value[0].status","type":"Expression"}}},{"name":"Check Refresh Status","type":"WebActivity","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"method":"GET","headers":{},"relativeUrl":"/v1.0/myorg/groups/@{pipeline().parameters.WorkspaceId}/datasets/@{pipeline().parameters.DatasetId}/refreshes?$top=1"},"externalReferences":{"connection":"[parameters('Power BI James.Broome')]"}}],"timeout":"0.12:00:00"}},{"name":"Semantic model refresh","type":"PBISemanticModelRefresh","dependsOn":[{"activity":"Until No Refresh Running","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"method":"post","waitOnCompletion":true,"commitMode":"Transactional","operationType":"SemanticModelRefresh","groupId":"@{pipeline().parameters.WorkspaceId}","datasetId":"@{pipeline().parameters.DatasetId}"},"externalReferences":{"connection":"[parameters('PowerBIDatasets James.Broome')]"}},{"name":"Set Refresh Status to Unknown","type":"SetVariable","dependsOn":[],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"Refresh Status","value":"Unknown"}}],"parameters":{"WorkspaceId":{"type":"string"},"DatasetId":{"type":"string"}},"variables":{"Refresh Status":{"type":"String"}},"lastModifiedByObjectId":"ee2e6db3-051b-4a49-95c9-b1ddeafa0200","lastPublishTime":"2025-06-30T15:31:52Z"},"dependsOn":[]}]}